/* Custom font */
@font-face {
  font-family: "Priego";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: 
    url("/fonts/priego-regular.woff2") format("woff2"),
    url("/fonts/priego-regular.woff") format("woff");
}

@font-face {
  font-family: "Priego";
  font-weight: 600;
  src: 
    url("/fonts/priego-semi-bold-regular.woff2") format("woff2"),
    url("/fonts/priego-semi-bold-regular.woff") format("woff");
}

@font-face {
  font-family: "Priego";
  font-weight: bold;
  src: 
    url("/fonts/priego-bold-regular.woff2") format("woff2"),
    url("/fonts/priego-bold-regular.woff") format("woff");
}


/* CSS Variables */

:root {
  /* Light color theme variables */
  --background-light: #08070b;

  /* Dark color theme variables */
  --background-dark: #1b262c;
  --background-dark-500: #353232;
  --background-header: rgba(0, 0, 0, 0.2);
  --background-dark-700: rgba(53, 59, 65, 0.9);
  --background-dark-900: rgba(53, 59, 65, 0.3);
  --text-light: #c7c7c7;
  --text-light-headers: #ffffff;
  --text-highlight: #abab98;

  /* Neutral color variables */
  --text-hover-and-headings: #fe7f2d;

  /* Font family*/
  --font-family-header: "Priego", "Inter", sans-serif;
  --font-family-text: "Inter", sans-serif;

  /* Transitions */
  --transition-smooth: all 0.47s ease-in-out;
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--background-dark);
  color: var(--text-light);
  font-family: var(--font-family-text);
  min-height: 100vh;
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: var(--font-family-header);
}
h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 3rem;
  margin: 1rem 0 1.5rem 0;
  color: var(--text-hover-and-headings);
}
h3 {
  font-size: 2rem;
  color: var(--text-light-headers);
  letter-spacing: 1px;
}
h4 {
  font-size: 1.8rem;
}

/* Paragraphs and links */
p {
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0.5rem 0;
}
a {
  color: var(--text-light);
  text-decoration: underline;
  line-height: 1.5;
}
ul {
  list-style: none;
}

/* Header Styles */
.logoWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.headeWrapper {
  margin: 2rem;
  display: flex;
  flex-direction: column;
}
.headeWrapper li {
  display: flex;
  align-items: center;
}

/* Navigation Styles */
.hidden {
  display: none;
}
.burgerIcon {
  color: white;
  cursor: pointer;
}

.navigationVisible {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navWrapper {
  display: none;
}
.navWrapperMobile {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    background-color: #2e404a;
    padding: 2rem 1rem; 
}

.main-menu,
.social-items {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.social-items a {
  padding: 0.5rem;
  border-radius: 0.2rem;
  transition: var(--transition-smooth);
}
.social-items a:hover {
  background-color: var(--background-dark-500);
}
.main-menu a {
  text-decoration: none;
  transition: var(--transition-smooth);
  font-weight: 600;
}
.main-menu a:hover {
  color: var(--text-hover-and-headings);
}
.logo {
  color: var(--text-light);
  font-weight: bold;
  text-decoration: none;
}
.logo img {
  width: 34px;
}

/* Main Content */
main {
  max-width: 100%;
}
.section {
  margin: 2rem;
}

/* About Section */
.about {
  display: flex;
  flex-direction: column;
}
.about-image {
  width: 50%;
  margin: 0 0 1rem 0;
}
.about-image img {
  border-radius: 50%;
}
.about-details ul {
  list-style: none;
  line-height: 2rem;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}
/* Hero Section */
.hero {
  display: flex;
  flex-direction: column;
}
.hero-intro {
  font-weight: normal;
  margin: 1rem 0;
}
.hero-title {
  font-size: clamp(4rem, 25vmin, 1rem);
  line-height: 1;
  margin: 1rem 0;
  --color-one: hsl(258, 90%, 55%);
  --color-two: hsl(40 95% 55%);
  --bg-size: 400%;
  background: linear-gradient(
      90deg,
      var(--color-one),
      var(--color-two),
      var(--color-one)
    )
    0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: move-bg 20s infinite linear;
}
@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

.hero-subtitle {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1.5;
  margin: 0 0 2rem 0;
}
.arrow-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.arrow {
  border: 1px solid var(--text-light);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
}
.arrow-icon {
  font-weight: 100;
  font-size: 2rem;
  position: absolute;
  top: 8px;
  left: 10px;
}
/* Arrow */
.circle-btn {
  cursor: pointer;
  display: block;
  position: relative;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
}
.icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  font-size: 30px;
  width: 100%;
  height: 100%;
  color: #fe7f2d;
  text-align: center;
  line-height: 80px;
  transition: color 0.2s ease-in;
}
.circle-btn.effect-2 .icon {
  display: block;
  position: relative;
  transition: all 0.4s 0.1s;
  transform-origin: 50% 0%;
  transform-style: preserve-3d;
}
.circle-btn.effect-2 .icon::after {
  content: "\f175";
  font-family: FontAwesome;
  color: #ffc117;
  display: block;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0;
  transform-origin: 50% 0;
  transform: translate3d(0px, 105%, 0px) rotateX(-90deg);
}
.circle-btn.effect-2:hover .icon {
  transform: translate3d(0px, 0px, -30px) rotateX(90deg);
}
.circle-btn:hover .icon {
  color: #fcca46;
}
.circle-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
}
/* CIRCLE BTN 1 */
.circle-btn.btn-1 .circle-bg {
  border-radius: 50%;
  transition: background 0.5s linear;
  border: 1px solid #fe7f2d;
  backface-visibility: hidden;
}
.circle-btn.btn-1:hover .circle-bg {
  border-color: transparent;
  background: transparent;
  animation: circleround cubic-bezier(0.17, 0.13, 0.28, 1) 1s;
  animation-fill-mode: forwards;
  border-right-color: #fcca46;
  border-bottom-color: #fcca46;
}
/* CIRCLE BTN 2 */
.circle-btn.btn-2 .icon {
  color: #48b7fd;
}
.circle-btn.btn-2:hover .icon {
  animation: arrowmove 0.75s ease-in-out;
  animation-fill-mode: forwards;
}
.circle-btn.btn-2 .circle-bg::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 76px;
  height: 76px;
  border-radius: 100%;
  background: #fe7f2d;
}
.circle-btn.btn-2 .circle-bg span {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.circle-btn.btn-2 .circle-bg span em {
  position: absolute;
  border-radius: 999px;
  width: 100%;
  height: 100%;
  background: #fcca46;
  transition: transform 0.25s linear;
}
.circle-btn.btn-2 .circle-bg span:first-child {
  left: 0%;
}
.circle-btn.btn-2 .circle-bg span:first-child em {
  left: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  transform-origin: 0% 50%;
}
.circle-btn.btn-2 .circle-bg span:last-child {
  left: 50%;
}
.circle-btn.btn-2 .circle-bg span:last-child em {
  left: -100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transform-origin: 100% 50%;
  transition-delay: 0.25s;
}
.circle-btn.btn-2:hover .circle1 span:first-child em,
.circle-btn.btn-2:hover .circle-bg span:first-child em {
  transform: rotate(-180deg);
  transition: transform 0.5s ease-out;
  transition-delay: 0.25s;
}
.circle-btn.btn-2:hover .circle1 span:last-child em,
.circle-btn.btn-2:hover .circle-bg span:last-child em {
  transform: rotate(-180deg);
  transition: transform 0.25s ease-in-out;
}
@keyframes circleround {
  0% {
    transform: rotate(-90deg);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
@keyframes arrowmove {
  0% {
    top: 2px;
  }
  100% {
    top: -3px;
  }
}

/* end */

/* Portfolio Section */
.portfolio-items {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.portfolio-item img {
  border-radius: 0.5rem;
  transition: var(--transition-smooth);
}
.portfolio-item img:hover {
  scale: 1.02;
}
.portfolio-item a {
  transition: var(--transition-smooth);
}
.portfolio-item a:hover {
  color: var(--text-hover-and-headings);
}
.item-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.item-title {
  font-weight: 200;
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.item-tech {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 1rem auto;
  padding: 0;
  font-weight: 400;
}
.item-tech li {
  color: var(--text-highlight);
  background-color: rgba(181, 181, 181, 0.1);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-tech li:first-of-type {
  margin-left: 0;
}
.item-tech li img {
  width: 20px;
  margin-right: 0.4rem;
}
/* Contact Section */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.form-btn {
  background-color: var(--text-highlight);
  border: none;
  color: var(--background-dark);
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  transition: var(--transition-smooth);
  padding: 1rem 0;
}
.form-btn:hover {
  background-color: var(--text-hover-and-headings);
}

/* Form Input Styles */
input,
textarea {
  background-color: var(--background-dark);
  border: 1px solid var(--text-highlight);
  line-height: 2rem;
  margin: 1rem 0 1rem 0;
  color: var(--text-light);
  padding: 0.5rem;
  font-family: var(--font-family-text);
  font-size: 1rem;
  display: block;
  width: 100%;
}

/* Footer */
.footer {
  margin-bottom: 0;
}
.footer p {
  color: var(--text-light);
  font-size: 0.9rem;
}

/* Skills and Tools  Grid */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}
.skills-title {
  margin: 0;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-dark-900);
  border-radius: 12px;
  border: 1px solid var(--background-dark);
  transition: var(--transition-smooth);
}
.skills-title:hover {
  background-color: var(--background-dark-700);
  border: 1px solid var(--text-hover-and-headings);
}
.devicons {
  font-family: "devicons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.skills-title p {
  font-weight: bold;
  text-transform: uppercase;
}
.skills-title span {
  font-size: 3rem;
}

/* My Photos */
.grid-photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.grid-photos .grid-photo img {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: var(--transition-smooth);
}
.grid-photos .grid-photo {
  overflow: hidden;
}
.grid-photos .grid-photo:hover img {
  filter: none;
}

/* ---------- Large screens Media Queries ----------- */

@media all and (min-width: 900px) {
  h1 {
    font-size: 6rem;
  }
  h2 {
    font-size: 2.5rem;
    margin: 1rem 0;
    line-height: 1;
  }
  h3 {
    font-size: 3rem;
  }
  h4 {
    font-size: 2rem;
  }

  .burgerIcon {
    display: none;
  }
  .navWrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    background-color: inherit;
    justify-content: right;
  }
  .headeWrapper {
    flex-direction: row;
    margin: 2rem 7rem;
  }
  .hero-title {
    font-size: clamp(3rem, 25vmin, 5.5rem);
    margin: 1rem 0 0.5rem 0;
  }
  .hero-subtitle {
    margin: 1rem 0 4rem 0;
    font-size: 4rem;
    line-height: 1;
  }
  /* Intro */
  .about {
    flex-direction: row;
    align-items: center;
    gap: 4rem;
  }
  .about-image {
    width: 20%;
    margin: 0;
  }
  .about-details ul {
    line-height: 3rem;
    font-size: 1.5rem;
  }
  .about-details-expanded {
    width: 60%;
  }
  /* My Photos */
  .grid-photos {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .section {
    margin: 7rem;
  }
  .portfolio-items {
    grid-template-columns: 1fr 1fr;
  }
  .portfolio-item {
    flex: 1 1 0;
  }
  .item-tech li {
    padding: 0.4rem 0.6rem;
  }
  .circle-btn {
    width: 5rem;
    height: 5rem;
  }

  form {
    width: 40%;
  }
  .footer {
    margin-bottom: 1rem;
  }
}
